html {
  background: url(https://cdn.pixabay.com/photo/2017/01/26/21/32/background-2011768_1280.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

li {
 list-style-type: none;
 display: inline-block;
 margin-left: 25px;
}

.quiz-results {
  position: fixed;
  top: 6px;
  right: -10px;
  text-align: right;
  padding-right: 60px;
  font-size: 18px;
}

body {
  box-sizing: border-box;
  color: #ffffff;
}

.hidden {
	display: none;
}

.header-bar {
	background-color: #363946;
	height: 60px;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
  font-size: 12px;
}

h1 {
  font-size: 26px;
}

.quiz-container{
	margin-top: 80px;;
	min-width: 400px;
	padding: 0;
}

.starting-container {
  margin-top: 150px;
}

.start-button {
  width: 15%;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.start-button button {
  height: 100px;
  min-width: 200px;
}

.quiz-nav {
	color: white;
	min-height: 45px;
}

.quiz-nav-item {
	text-align: center
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #ffffff;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

input[type='radio']:after, input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid white;
}

span {
	margin-left: 2px;
}

input[type='radio']:checked:after {
    background-color: #ffa500;
}

.quiz-nav-item span {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
  width: 100%;
  border-radius: 3%;
}

button {
  border: none;
  background-color: #ebca52;
  color: #363946;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
}

button:hover, button:focus {
  background-color: #363946;
  color: #ebca52
}


label:nth-child(1) {
  background-color: #3866AF;
}

label:nth-child(2) {
  background-color: #387AAF;
}

label:nth-child(3) {
  background-color: #3894AF;
}

label:nth-child(4) {
  background-color: #38A9AF;
}

label {
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-out;
  line-height: 22px;
  border-radius: 3%;

}

label:hover, label:focus {
  background-color: #363946
}