body {
	box-sizing: border-box;
}

.header-bar {
	background-color: grey;
	height: 60px;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}


.quiz-container{
	margin-top: 80px;;
	min-width: 400px;
	padding: 0;
}

.question-container, .starting-container {
	padding: 20px;
}


.quiz-nav {
	background-color: grey;
	color: white;
	min-height: 45px;
}

.quiz-nav-item {
	text-align: center
}


input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #ffffff;
    transition: 0.2s all linear;
    outline: none;
    margin-right: 5px;
    position: relative;
    top: 2px;
}

.correct {
	background-color: green;
}

.incorrect {
	background-color: red;
}

.selected {
	border: 1px solid black;
}


.hidden {
	display: none;
}

button {
    border: none;
    background-color: #ebca52;
    color: #363946;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
    width: 100%;
    text-align: left;
}

button:hover, button:focus {
    background-color: #363946;
    color: #ebca52
}


input:checked + label {
    background: grey;
}


label:nth-child(1) {
    background-color: #3866AF;
}

label:nth-child(2) {
    background-color: #387AAF;
}

label:nth-child(3) {
    background-color: #3894AF;
}

label:nth-child(4) {
    background-color: #38A9AF;
}

label {
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-out;
    line-height: 22px
}

label:hover, label:focus {
    background-color: #AF6438
}